
html { box-sizing: border-box;}
*, *:before, *:after { box-sizing: inherit;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}

/*FAQ SETTINGS -----------------------*/
#wpcontent {
    padding-left: 30px;
    padding-right: 30px;
}
.tab-grid-wrapper .tab { 
    overflow: hidden; 
    z-index: 1; 
    position: relative; 
    padding-left: 15px;
}
.tab-grid-wrapper .tab button {
    background-color: #e5e5e5;
    float: left;
    width: auto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 14px; color: #555;
    height: 45px;
    margin-right: 10px;
    border: 1px solid #d5d5d5;
}
.tab-grid-wrapper .tab button:hover {
    background-color: #ddd;
}
.tab-grid-wrapper .tab button.active { 
    background-color: #f1f1f1; 
    color: #222; 
    border-bottom: 1px solid #d5d5d5;
}
.tab-grid-wrapper .tabcontent { 
    display: none; 
    padding: 25px 0px 15px; 
    border-top: 1px solid #d5d5d5; 
    position: relative; 
    top: -1px; 
} 
.faq-setting h1 {
    line-height: normal;
}
.faq-setting ul {
  margin: 0;
}
.faq-setting ul li {
    margin: 0 0 10px;
}
.faq-setting ul li p {
    margin: 5px 0 15px;
  color: #777;
}
.faq-setting label {
  font-weight: 500;
}
.faq-setting .actions{
  padding:25px 0 10px;
}
.faq-setting .actions .button-primary {
    padding: 5px 25px;
    min-width: 140px;
    font-weight: 500;
}

.faq-setting li label { display: inline-block; width: 100%; max-width: 210px; vertical-align: top;}
.faq-setting .tabcontent li .control { display: inline-block; width: 100%; max-width: 300px;}
.faq-setting .tabcontent li .control textarea, 
.faq-setting .tabcontent li .control input:not([type='checkbox']) { width: 100%;}
.faq-setting .tabcontent li .control select { width: 100%; max-width: 200px;}

.faq-articles-set li label {
    display: inline-block;
    width: 100%;
    max-width: 210px;
    vertical-align: top;
}
.faq-articles-set li .control {
    display: inline-block;
}
.faq-seo-set li label {
    display: inline-block;
    width: 100%;
    max-width: 210px;
    vertical-align: top;
}
.faq-seo-set li .control {
    display: inline-block;
}

.product-questions-setting ul li label { width: 100%; max-width: 210px; display: inline-block; padding-bottom: 5px;}
.product-questions-setting ul li .control { display: inline-block; vertical-align: top; width: 100%; max-width: 300px;}

.faq-upload-panel { position: relative; display: inline-block;}
.faq-upload-panel a.faq_close_upload {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    background-color: #ca4a1f;
    color: #fff;
    padding: 5px 10px;
    font-weight: 600;
}
.faq-upload-panel img { max-width: 120px;}


.article_container ul li { margin: 0 0 30px;}
.article_container ul li label { display: inline-block; width: 25%; font-weight: 600;}
.article_container ul li .control { display: inline-block; width: 74%; vertical-align: top;}
.article_container ul li .input-text{width:100%; max-width:400px; border:1px solid #ccc; box-shadow:none;}
.article_container ul li textarea {width:100%; border:1px solid #ccc; box-shadow:none;}
.article_container ul li p { margin: 4px 0 0; color: #666; font-style: italic;}


@media only screen and (max-width: 782px){
	.wp-list-table td.sno.column-sno, .wp-list-table .is-expanded td.sno.column-sno {
    display: none !important;
    }
}

@media only screen and (max-width: 767px){
	.tab-grid-wrapper .tab { padding-left: 5px;}
	.tab-grid-wrapper .tab button {	padding: 8px 5px; height: 60px;	margin-right: 1%; width: 32%; line-height: 1.1;}
		
	.faq-setting ul li.inline-menu-link .control { padding-top: 10px;}
	.faq-setting ul li.inline-menu-link .control label { max-width: none; width: auto;}
    .column-sno{display:none!important;}
}

@media only screen and (max-width: 579px){
	.faq-setting li label {	max-width: 100%; padding-bottom: 6px;}
}

@media only screen and (max-width: 374px){
	.tab-grid-wrapper .tab { padding-left: 0;}
	.tab-grid-wrapper .tab button {	padding: 8px 5px; height: auto;	margin-right: 0; width:100%; line-height: normal;}
}